[submodule "ChallengeCh3"]
	path = ChallengeCh3
	url = https://github.com/alvinlaurente/binar-ChallengeCh3.git
[submodule "ChallengeCh4"]
	path = ChallengeCh4
	url = https://github.com/alvinlaurente/binar-ChallengeCh4.git
[submodule "Pretest JS"]
	path = Pretest JS
	url = https://github.com/alvinlaurente/pretestjs.git
[submodule "OOP_bank"]
	path = OOP_bank
	url = https://github.com/alvinlaurente/js-oop-bank.git
[submodule "OOP_parking"]
	path = OOP_parking
	url = https://github.com/alvinlaurente/js-oop-parking-area.git
