[submodule "ChallengeCh3"]
	path = ChallengeCh3
	url = https://github.com/alvinlaurente/binar-Full-Stack-Web-Dev-3.git
[submodule "Pretest"]
	path = Pretest
	url = https://github.com/alvinlaurente/binar-Full-Stack-Web-Dev-3.git
